<md-dialog aria-label="Notifications">
  <form ng-cloak>
    <md-dialog-content>
	<div class="md-dialog-content">
		<div id="listContainer" controller="CarouselDemoCtrl" layout="column" ng-cloak>
			<md-content layout-padding>
				<md-list>
				<md-list-item class="md-3-line contact-item" ng-repeat="notification in getNotifications()">
				<img ng-src="{{notification.image}}" class="md-avatar" alt="{{user.name}}" />
				<div class="md-list-item-text compact">
				<span ng-click="showTripDetails()" class="label label-primary">{{notification.tripName}}</span>
				<p class="text-primary">{{notification.text}}</p>
				<p><small>{{notification.from}} on {{notification.date}}</small></p>				
				</div>
				<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
				</md-list>
			</md-content>	 
		</div>				
	</md-dialog-content>
  </form>
</md-dialog>
						<md-list-item ng-show="notifications.length > 0" style="width: 350px; margin: 0 auto;" class="md-3-line contact-item">
							<img ng-src="http://lorempixel.com/50/50/people/?1/" class="md-avatar"/>
							<div class="md-list-item-text compact" layout="column">
							<div>
							<span ng-click="showTripDetails()" class="label label-primary">{{notifications[0].tripName}}</span>
							<a href="#">
							<i style="padding-left: 1%;" class="fa fa-envelope-square fa-2x text-success"></i>
							</a>										
							<a ng-show=(notification.unread) href="#">
							<i style="padding-left: 2%;" class="fa fa-check-square fa-2x text-danger"></i>
							</a>
							</p>
							</div>
							<p><small>{{notifications[0].text}}</small></p>				
							<p><small>{{notifications[0].date}}</small></p>				
							</div>
							<md-divider style="width: 100%;" ng-if="!$last"></md-divider>			
						</md-list-item>	
						<md-list-item ng-show="notifications.length > 1" style="width: 350px; margin: 0 auto;" class="md-3-line contact-item">
							<img ng-src="http://lorempixel.com/50/50/people/?2/" class="md-avatar"/>
							<div class="md-list-item-text compact" layout="column">
							<div>
							<span ng-click="showTripDetails()" class="label label-primary">{{notifications[$scope.notificationStartIndex + 1].tripName}}</span>
							<a href="#">
							<i style="padding-left: 1%;" class="fa fa-envelope-square fa-2x text-success"></i>
							</a>										
							<a ng-show=(notification.unread) href="#">
							<i style="padding-left: 2%;" class="fa fa-check-square fa-2x text-danger"></i>
							</a>
							</p>
							</div>
							<p><small>{{notifications[$scope.notificationStartIndex + 1].text}}</small></p>				
							<p><small>{{notifications[$scope.notificationStartIndex + 1].date}}</small></p>				
							</div>
							<md-divider style="width: 100%;" ng-if="!$last"></md-divider>			
