<div ng-cloak layout-gt-sm="row" layout="column">
  <div flex-gt-sm="50" flex>
    <md-content>
      <md-list class="md-dense" flex>
		<div ng-repeat="departure in trip.departures">
			<md-list-item class="md-3-line">			
			<img ng-src="https://unsplash.it/1350/650" class="md-avatar" alt="{{user.name}}" />							  			
			<div class="md-list-item-text">		  
				<i class="fa fa-pencil" ng-click="editDeparture(departure.date)"></i>			
				<i class="fa fa-trash-o" ng-click="cancelDeparture(departure.date)"></i>
				<i class="fa fa-envelope-o" ng-click="cancelDay(itinerary.day)"></i>
				<i style="padding-left:2px"class="fa fa-paperclip" ng-click="cancelDay(itinerary.day)"></i>									
				<i class="fa fa-angle-right" aria-hidden="true"></i>
				<span class="label label-info">{{ departure.date | date:'shortDate' }}</span> {{departure.description}}
				<button type="button" class="btn btn-sm btn-primary">Price <span class="badge">{{departure.price}} USD</span></button>					
			</div>
			</md-list-item>
			<md-divider ></md-divider>					
		</div>
        </md-list-item>
      </md-list>
    </md-content>
	<p class="footnote">
		Make as many departures of the trip as you like. Mention the price. Mention, in detail, what makes this particular departure special - cheaper, tougher, sexier. Whatever. As long as you can make it interesting.
	</p>		
	<button type="button" class="btn btn-info btn-sm" ng-click="addDeparture()">More</button>			
  </div>
</div>

