<div style="background: linear-gradient(black, white); padding:60px">
  <p>
    <button type="button" class="btn btn-info btn-sm" ng-click="changeTab($event)">Description</button>
	<button type="button" class="btn btn-info btn-sm" ng-click="changeTab($event)">Itinerary</button>	
	<button type="button" class="btn btn-info btn-sm" ng-click="changeTab($event)">Departures</button>
	<button type="button" class="btn btn-warning btn-sm" ng-click="applyChanges()">Apply and Continue</button>	
	<button type="button" class="btn btn-primary btn-sm" ng-click="saveChanges()">Save</button>
	<button type="button" class="btn btn-danger btn-sm" ng-click="cancelChanges()">Cancel</button>
    <!--<button type="button" class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>-->
  </p>
  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group ng-cloak class="panel-info" is-open="items['description']" is-disabled="status.isFirstDisabled">
		<div ng-include="'tripDetails/description.html'"></div>	
		<!--<form sf-schema="schema" sf-form="forms['description'].form" sf-model="model"></form>-->
    </div>
    <div uib-accordion-group ng-cloak class="panel-info" is-open="items['itinerary']" is-disabled="items['itinerary'].disabled">
		<div class="content-grid" ng-include="'tripDetails/itinerary.html'"></div>	  	
    </div>		
    <div uib-accordion-group ng-cloak class="panel-info" is-open="items['departures']" is-disabled="status.isFirstDisabled">
		<div class="content-grid" ng-include="'tripDetails/departures.html'"></div>
	</div>

    </div>	
    </div>	
  </uib-accordion>
</div>