<div ng-cloak layout-gt-sm="row" layout="column">
  <div flex-gt-sm="50" flex>
    <md-content>
      <md-list class="md-dense" flex>
		<div ng-repeat="day in trip.itinerary">
			<md-list-item class="md-3-line">
				<div class="md-list-item-text">		  
					><img ng-src="https://unsplash.it/1350/650" class="md-avatar" alt="{{user.name}}" />				
					<a><i class="fa fa-pencil" ng-click="editDay(day)"></i></a>			
					<a><i class="fa fa-trash-o" ng-click="cancelDay(day)"></i></a>
					<a ng-show="day.comments.length"><i class="fa fa-envelope-o" ng-click="listMessages(day)"></i></a>										
					<a style="padding-left:4px"><i class="fa fa-comment-o" ng-click="addComment(day)"></i></a>					
					<i class="fa fa-angle-right" aria-hidden="true"></i>
					<span class="label label-info">Day {{ day.day }}:</span>				
					{{day.description}}					
					<md-chips ng-model="itinerary.activities" readonly="true" md-removable="false" md-max-chips="10">
						<md-chip-template>
							{{$chip}}
						</md-chip-template>
					</md-chips>						
				</div>
			</md-list-item>
        <md-divider ></md-divider>			
		</div>
        </md-list-item>
      </md-list>
    </md-content>
	<p class="footnote">
		Go ahead and create a day by day itinerary of the trip. Add as much detail as you can in the description. Select as many activities as you like. Make it exciting. Make it juicy. Make is sellable.
	</p>	
	<md-checkbox name="suggestItinerary" ng-model="trip.suggestItinerary" required>
	</md-checkbox>				
	<label> 		Or let us do it for you		</label>	
	</br>
	<button type="button" class="btn btn-info btn-sm" ng-click="addDay()">Go</button>			
  </div>
</div>

